<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user$ | async as user">
  <div class="container">
    <div class="profile">
      <ion-item lines="none" button>
        <div class="pic" slot="start">
          <ion-avatar>
            <img src="assets/icon/template.png">
          </ion-avatar>
        </div>
  
        <div class="user">
          <p class="name">{{user.firstname}} {{user.lastname}}</p>
          <p class="email">{{user.email}}</p>
        </div>
  
        <div class="arrow" slot="end">
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </ion-item>
    </div>

    <ion-button (click)="logout()" expand="block" fill="outline" shape="round">
      Logout
    </ion-button>
  </div>
</ion-content>
