<ion-header [translucent]="true">
  <ion-toolbar *ngFor="let pet of pet">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pet.petName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info" *ngFor="let pet of pet">
    <div class="petImg">
      <img [src]="pet.petImg" />
    </div>

    <div class="desc">
      <div>
        <p>Age</p>
        <p class="labels">{{pet.age}}</p>
      </div>

      <div>
        <p>Birthday</p>
        <p class="labels">{{pet.birthday}}</p>
      </div>

      <div>
        <p>Height (cm)</p>
        <p class="labels">{{pet.height}}</p>
      </div>

      <div>
        <p>Weight (kg)</p>
        <p class="labels">{{pet.weight}}</p>
      </div>

      <div>
        <p>Breed</p>
        <p class="labels">{{pet.breed}}</p>
      </div>

      <div>
        <p>Color</p>
        <p class="labels">{{pet.color}}</p>
      </div>

      <div>
        <p>Microchip No.</p>
        <p class="labels">{{pet.chipNo}}</p>
      </div>

      <div>
        <p>Gender</p>
        <p class="labels">{{pet.gender}}</p>
      </div>
    </div>
  </div>

  <!-- <ion-button class="appointment-buttons" (click)="medHistory()"
  >Medical History</ion-button
> -->
  <div class="appointment-container" *ngFor="let pet of pet">
    <!-- Hidden List para custom ugn Design dun sa schedule of appointments -->
    <ion-item>
      <ion-list class="">
        <ion-select
          id="select"
          aria-label="schedules"
          label="Schedule of Appointments"
          labelPlacement="stacked"
          okText=""
          cancelText=""
          (ionChange)="goToAppointment($event)"
        >
          <ion-select-option
            *ngFor="let appointments of apps"
            value="{{appointments.appointmentId}}"
          >
            {{appointmentTypes[appointments.appointmentType]}}
            {{appointments.appointmentDate}}
          </ion-select-option>
        </ion-select>
      </ion-list>
    </ion-item>
    <button
      class="appointment-buttons"
      [routerLink]="['/schedule/' + user.uid + '/' + pet.petId + '/' + 0]"
    >
      AntiRabies Appointments
    </button>

    <button
      class="appointment-buttons"
      [routerLink]="['/schedule/' + user.uid + '/' + pet.petId + '/' + 1]"
    >
      Deworming Appointments
    </button>

    <button
      class="appointment-buttons"
      [routerLink]="['/schedule/' + user.uid + '/' + pet.petId + '/' + 2]"
    >
      Kennel Cough Appointments
    </button>

    <button
      class="appointment-buttons"
      [routerLink]="['/schedule/' + user.uid + '/' + pet.petId + '/' + 3]"
    >
      Tick and Flea / Heartworm Preventative
    </button>

    <button
      class="appointment-buttons"
      [routerLink]="['/schedule/' + user.uid + '/' + pet.petId + '/' + 4]"
    >
      5in1 / 6in1 / 8in1
    </button>

    <button class="appointment-buttons">Medical History</button>
  </div>
</ion-content>
