<ion-header [translucent]="true" *ngIf="petInfo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ petInfo.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="petInfo">
  <div class="container">
    <div class="info">
      <div class="img" slot="start">
        <img [src]="petInfo.petphoto"/>
      </div>

      <div class="desc">
        <p><b>Life Span:</b></p>
        <p><b>Avg. Height:</b></p>
        <p><b>Avg. Weight:</b></p>
      </div>
    </div>
  
    <div class="buttons">
      <ion-item [routerLink]="'/cat-info/' + petInfo.id" lines="none">
        <img class="icon" src="assets/logo/pet.png" slot="start">
        <ion-title>More Information</ion-title>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
  
      <ion-item [routerLink]="'/cat-meds/' + petInfo.id" lines="none">
        <img class="icon" src="assets/logo/meds.png" slot="start">
        <ion-title>Common Disease</ion-title>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
  
      <ion-item [routerLink]="'/cat-foods/' + petInfo.id" lines="none">
        <img class="icon" src="assets/logo/food.png" slot="start">
        <ion-title>Food</ion-title>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
  
      <ion-item [routerLink]="'/cat-grooming/' + petInfo.id" lines="none">
        <img class="icon" src="assets/logo/groom.png" slot="start">
        <ion-title>Grooming</ion-title>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
  
      <ion-item [routerLink]="'/cat-activities/' + petInfo.id" lines="none">
        <img class="icon" src="assets/logo/act.png" slot="start">
        <ion-title>Activities</ion-title>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
    </div> 
  </div> 
</ion-content>
