

<ion-content [fullscreen]="true" id="main-content">
  <div class="container">
    <div class="header">

      <div class="logo" slot="start">
        <ion-avatar class="petscureLogo">
          <img src="assets/petscure-logo.png" alt="">
        </ion-avatar>
      </div>

      <div class="profile" slot="end" (click)="openMenu()">
        <p>Username</p>
        <ion-avatar class="profilePic">
          <img src="assets/placeholder.jpeg" alt="">
        </ion-avatar>
      </div>
    </div>

    <div class="slides">
      <p>Services Offered</p>

      <swiper-container
        class="swiper-container"
        pagination="true"
        pagination-clickable="true"
        space-betweenw="30"
        centered-slides="true"
        autoplay-delay="2500"
        autoplay-disable-on-interaction="false"
      >
        <swiper-slide *ngFor="let service of servicesSlide" class="service_slide">
          <p>{{service.title}}</p>
          <img src="{{service.img}}" alt="">
        </swiper-slide> 
      </swiper-container>
    </div>
  </div>

  <div class="segment-bg">
    <h3>Pets</h3>
    
    <div class="segment-container">
      <ion-segment
        [(ngModel)]="selectedSegment"
        (ionChange)="segmentChanged()"
        class="custom-segment"
      >
        <ion-segment-button value="1">
          <div class="lottie-container">
            <ng-lottie [options]='lottieoptionsdog'></ng-lottie>
          </div>
        </ion-segment-button>
      
        <ion-segment-button value="2">
          <div class="lottie-container">
            <ng-lottie [options]='lottieoptionscat'></ng-lottie>
          </div>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Content for Dogs -->
    <div *ngIf="selectedSegment === '1'">

      <div class="stickybar">
        <div class="input-wrapper">
          <input type="text" placeholder="Search..." name="text" class="input" [(ngModel)]="search" (input)="onDogSearch()" autocomplete="off">
        </div>
      </div>

      <!-- Display no result -->
      <!-- <div *ngIf="!(searchdog | async)?.length && search.trim()">
        <p>No results found</p>
      </div> -->

      <!-- Display if dog exist -->
      <!-- <div *ngIf="searchdog && (searchdog | async)?.length > 0">
        <div class="pet-container" *ngFor="let dog of (searchdog | async)" [routerLink]="'/dog-details/' + dog.id">
          <div class="pet-card">
            <img [src]="dog?.petphoto !== '' ? dog.petphoto : '/assets/palceholder.png'" alt="{{dog.name}}" />
            <p>{{ dog.name }}</p>
          </div>
        </div>
      </div> -->

      <!-- Display orginal view if no search perform -->
      <!-- <div *ngIf="!(searchdog | async)?.length || !(search.trim())">
        <div class="pet-container" *ngFor="let dog of dogInfo | async" [routerLink]="'/dog-details/' + dog.id">
          <div class="pet-card">
            <img [src]="dog?.petphoto !== '' ? dog.petphoto : '/assets/palceholder.png'" alt="{{dog.name}}" />
            <p>{{ dog.name }}</p>
          </div>
        </div>
      </div> -->
    </div>

    <!-- Content for Cats -->
    <div *ngIf="selectedSegment === '2'">

      <div class="stickybar">
        <div class="input-wrapper">
          <input type="text" placeholder="Search..." name="text" class="input" [(ngModel)]="search" (input)="onCatSearch()" autocomplete="off">
        </div>
      </div>

      <!-- Display no result -->
      <!-- <div *ngIf="!(searchcat | async)?.length && search.trim()">
        <p>No results found</p>
      </div> -->

      <!-- Display if cat exist -->
      <!-- <div *ngIf="searchcat && (searchcat | async)?.length > 0">
        <div class="pet-container" *ngFor="let cat of (searchcat | async)" [routerLink]="'/cat-details/' + cat.id">
          <div class="pet-card">
            <img [src]="cat?.petphoto !== '' ? cat.petphoto : '/assets/palceholder.png'" alt="{{cat.name}}" />
            <p>{{ cat.name }}</p>
          </div>
        </div>
      </div> -->

      <!-- Display orginal view if no search perform -->
      <!-- <div *ngIf="!(searchcat | async)?.length || !(search.trim())">
        <div class="pet-container" *ngFor="let cat of catInfo | async" [routerLink]="'/cat-details/' + cat.id">
          <div class="pet-card">
            <img [src]="cat?.petphoto !== '' ? cat.petphoto : '/assets/palceholder.png'" alt="{{cat.name}}" />
            <p>{{ cat.name }}</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>
