
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo" slot="start">
      <img class="pcLogo" src="assets/petscure-logo.png">
    </div>

    <div class="header">
      <p><b>petscure veterinary clinic</b><br>and grooming services</p>
    </div>

    <div class="profile" slot="end" *ngIf="user$ | async as user" slot="end">
      <ion-avatar class="profilePic" routerLink="/profile" >
        <img [src]="user.imgUrl" alt="">
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="user$ | async as user">
  <div class="container">
    <div class="slides">
      <p>Services Offered</p>

      <swiper-container
        class="swiper-container"
        pagination="true"
        pagination-clickable="true"
        space-betweenw="30"
        centered-slides="true"
        autoplay-delay="2000"
        autoplay-disable-on-interaction="false"
        [loop]="true"
      >
        <swiper-slide *ngFor="let service of pictures" class="service_slide">
          <img src="{{service.img}}" alt="">
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="label">
      <h2>My Pet</h2>
    </div>

    <div class="pets">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let pets of pet">
            <ion-card button [routerLink]="['/my-pet/' + user.uid + '/' + pets.petId]">
              <img [src]="pets.petImg" height="150px">
              <p class="card-text">{{pets.petName}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
