.title{
    text-transform: capitalize;
    font-size: 18px;
}
.text{
    text-align: left;
    font-size: 20px;
    color: black;
    line-height: 1.5;
    
}
h2{
    text-align: center;
     font-weight: 600;
 }
 