
ion-content {
    --background: rgba(255, 255, 255, 0.7);
    padding: 25px;

    form {
      display: block;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 100px;
      width: 100%;
      padding: 1em;

      position: relative;

      .icon {
        color: rgb(244, 143, 29);

        position: relative;
        top: 0.5rem;
      }
    }

    .profilePic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        top: 0.4rem;

        ion-avatar {
            position: relative;
            outline: 1.5px solid #000;
            background: #fff;

            width: 150px;
            height: 150px;

        }

        ion-button.addBtn {
            --background: rgb(255, 0, 0);
            width: max-content;
            height: 30px;

            font-size: 14px;
        }
    }

    .forms {
        position: relative;
        top: 0.4rem;
    }

    .createAcc {
        position: relative;
        text-align: center;
    }

    ion-item {
        --background: #ececec;

        border-radius: 10px;

        &:hover {
          outline: 2px solid rgb(203, 181, 35);
        }

        ion-note {
            background: #ececec;
            margin-bottom: 10px;
            color: red;
            font-size: 13px;
        }
    }

    .registerBtn {
        margin-top: 1.3rem;

        ion-button.regBtn {
            --background: rgb(255, 0, 0);
    
            font-size: 20px;
    
            height: 40px;
        }
    }
}

a {
    color: red;
}

.firstMid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .middle{
        margin-left: 0.5rem;
    }

    margin-top: 0.4rem;
}

.last {
    margin-bottom: 0.4rem;
}

.user_address {
    margin-top: 0.4rem;
    margin-bottom: 0,4rem;
}

.user_creds {
    margin-top: 0.4rem;
    margin-bottom: 0,4rem;
}