<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="introd">
      <p class="text">
        Welcome to Petscure Veterinary Clinic and Grooming Services, where we prioritize the health and well-being of your beloved pets. This document provides information about our vaccination schedule, ensuring that your pets receive the necessary immunizations to lead healthy lives.
      </p>
    </div>

    <div class="importance">
      <p class="header"><b>Importance of Vaccination</b></p>
      <p class="text">
        Vaccinations are crucial in preventing the spread of contagious diseases among animals. By keeping vaccinations up-to-date, you contribute to the overall health of your pet and the community.
      </p>
    </div>
    <br>

    <div class="contact">
      <div class="info">
        <p class="header"><b>Contact Information</b></p>
        <p class="inquiry">
          For any questions or to schedule a vaccination appointment, please Petscure Veterinary Clinic and Grooming Services at:
        </p>
      </div>

      <div class="list">
        <li><b>Phone: </b>0916 701 8497</li>
        <li><b>Email: </b>petscureveterinaryclinic@gmail.com</li>
        <li><b>Address: </b>Sapang, Jaen, Nueva Ecija</li>
        <li><b>Facebook Page: </b><a href="https://www.facebook.com/profile.php?id=100083518922583">Petscure Veterinary Clinic and Grooming Services</a></li>
      </div>
    </div>
  </div>
</ion-content>
